:root {
  --newsBgColor: whitesmoke;
  --newsItemColor: white;
  --newsItemHover: gray;
  --newsItemsDark: #2C2C2B;
}

.paginate {
  width: 100vw;
  height: 100vh;
  background-color: var(--newsBgColor);
  overflow: hidden;
}

.news-nav {
  color: var(--newsItemColor);
  background-color: var(--newsItemsDark);
}

.news-item {
  color: black;
  height: 6.5vh;
  width: 80vw;
  background-color: var(--newsItemColor);
  margin: 5px 5px 5px 5px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.news-item:hover {
  color: var(--newsItemColor);
  background-color: var(--newsItemHover);
}